fastapi>=0.104.0
uvicorn>=0.24.0
httpx>=0.25.0
Jinja2>=3.1.2
loguru>=0.7.0
numpy>=1.26.0
openpyxl>=3.1.2
pandas>=2.1.0
pydantic>=2.5.0
requests>=2.28.0
tornado>=6.4
ua-parser>=0.16.1
user-agents>=2.2.0
